@()
@layouts.html.default("Queennon: Your  music taste buddy", "Welcome to Quennon!"){
  <p> A platform  designed to auto-generate a spotify playlist similar to your existing one, allowing you to discover more artists and songs that you'd love!! Do click on authenticate to give us permission to do so!!</p>
  <a href="https://accounts.spotify.com/authorize?client_id=38a36331ed86427cb2bf310d43dce5a9&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Fcallback&scope=user-read-private%20playlist-modify-public%20user-read-email&state=34fFs29kd09" target="_blank">
    <button>Authenticate</button>
  </a>
}